<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
	<body background="https://images.wallpaperscraft.com/image/clouds_sky_blue_113445_1920x1080.jpg"></body>
<body>
	<center>
    	<img src = "https://imgur.com/psNYz6D.jpg" width="300" height="300">
    	<h1>LET ME INTRODUCE MYSELF</h1>
    	<article>
    		<div style="background-color: ivory; width: 600px; text-align: center;">Name : {{ name }}</div></article>
    	<article>
    		<div style="background-color: ivory; width: 600px; text-align: center;">Age : {{ age }} years old</div></article>
    	<article>
    		<div style="background-color: ivory; width: 600px; text-align: center;">Study : {{ kuliah }}</div></article>
    	<article>
    		<div style="background-color: ivory; width: 600px; text-align: center;">Class of: {{ angkatan }}</div></article>
    	<article>
    		<div style="background-color: ivory; width: 600px; text-align: center;">NPM : {{ npm }}</div></article>	
    	<article>
    		<div style="background-color: ivory; width: 600px; text-align: center;">Hobbies: {{ hobi }}</div></article>
    	<article>
    		<div style="background-color: ivory; width: 600px; text-align: center;">About me: {{ deskripsi }}</div></article>
	</center>
</body>
</html>
